snowflake-system-api/src/main/mule/snowflake-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd">
    <apikit:config name="snowflake-system-api-config" api="snowflake-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <snowflake:snowflake-config name="Snowflake_Config" doc:name="Snowflake Config" doc:id="de6ef2df-dd70-4347-80d0-7fa472db2b9a">
        <snowflake:snowflake-connection accountName="${snowflake.account}" warehouse="${snowflake.warehouse}" database="${snowflake.database}" schema="${snowflake.schema}" user="${snowflake.user}" password="${secure::snowflake.password}" />
    </snowflake:snowflake-config>
    <flow name="snowflake-system-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/snowflake/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value='#[attributes.headers."X-Request-ID"]' doc:name="Set Variable" doc:id="539d14d5-027e-4dcc-a6da-4c276cc3368e" variableName="requestId"/>
		<apikit:router config-ref="snowflake-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\query:snowflake-system-api-config">
        <snowflake:select doc:name="Select" doc:id="5e5d0254-d717-4df4-b68f-6db6a3ff9bbc" config-ref="Snowflake_Config">
            <snowflake:sql><![CDATA[#[attributes.queryParams.query]]]></snowflake:sql>
        </snowflake:select>
        <ee:transform doc:name="Response" doc:id="4271fca6-95b5-4eff-a14a-65b84ea8464a">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\replicate:application\json:snowflake-system-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  success: true,
  message: "Total 505 records merged"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\truncate:snowflake-system-api-config">
        <ee:transform doc:name="Truncate DML" doc:id="760b3d5d-faf9-43a5-8931-c91aee0f0453">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
"TRUNCATE TABLE IF EXISTS " ++ attributes.queryParams.table ++ " ;"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <snowflake:execute-script doc:name="Execute script" doc:id="ede22305-d463-487d-9d85-26558a28d066" config-ref="Snowflake_Config">
            <snowflake:sql><![CDATA[#[payload]]]></snowflake:sql>
        </snowflake:execute-script>
        <ee:transform doc:name="Transform Message" doc:id="d51c83c3-1469-46b7-ad38-487f23807908">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\insert:application\json:snowflake-system-api-config">
        <ee:transform doc:name="Transform Message" doc:id="9dd3885d-a083-4c26-8165-2bc7bc27ce34">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map $]]></ee:set-payload>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="insertSentence" ><![CDATA[%dw 2.0
output application/java
---
"INSERT INTO AcquiredAccount__c_temp (" ++ (keysOf(payload[0]) joinBy  ",") ++ ") " ++ "VALUES (" ++((payload[0] pluck $$) map ((item, index) -> {
    field: ":" ++ item    
}.field) joinBy  ",") ++ ")"]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="3c6310a8-46f7-480d-a515-32ac12540683" message='Insert: #[vars.insertSentence] #["\n"] RequestId: #[vars.requestId]'/>
		<snowflake:bulk-insert doc:name="Bulk insert" doc:id="96d45f89-d114-4b48-a40b-a322d56502c5" config-ref="Snowflake_Config">
            <snowflake:sql><![CDATA[#[%dw 2.0
output application/java
---
"INSERT INTO AcquiredAccount__c_temp (" ++ (keysOf(payload[0]) joinBy  ",") ++ ") " ++ "VALUES (" ++((payload[0] pluck $$) map ((item, index) -> {
    field: ":" ++ item    
}.field) joinBy  ",") ++ ")"]]]></snowflake:sql>
        </snowflake:bulk-insert>
        <ee:transform doc:name="Transform Message" doc:id="52d34bf7-db7c-4252-954c-4042d2b75d49">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\merge:application\json:snowflake-system-api-config">
        <ee:transform doc:name="Merge Request" doc:id="3c328e73-5bce-43d5-96bf-d6110232eaf1">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
var source = "AcquiredAccount__c_temp"
var target = "AcquiredAccount__c"
---
"MERGE INTO " ++ target ++ " USING " ++ source ++ 
" ON " ++ target ++".id = "++ source ++".id " ++  
" WHEN MATCHED THEN UPDATE SET " ++
(keysOf(payload[0]) map {
    field: target ++ "." ++ $ ++ "=" ++ source ++ "." ++ $
}.field joinBy  ",") ++ " WHEN NOT MATCHED THEN INSERT (" ++ 
((keysOf(payload[0]) joinBy ",")) ++ ") " ++ " VALUES (" ++
(keysOf(payload[0]) map {
    field: source ++ "." ++ $
}.field joinBy  ",") ++ ");"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <snowflake:execute-script doc:name="Execute script" doc:id="7f956da4-0227-4d9b-9493-7c56a618fc62" config-ref="Snowflake_Config">
            <snowflake:sql><![CDATA[#[payload]]]></snowflake:sql>
        </snowflake:execute-script>
        <ee:transform doc:name="Transform Message" doc:id="e19bab27-7918-4fbb-8e21-8ab383c4d93a">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\replication:application\json:snowflake-system-api-config">
		<snowflake:update doc:name="Update" doc:id="68836a10-7db8-4082-8fdc-2da6b6be0b56" config-ref="Snowflake_Config">
			<snowflake:sql ><![CDATA[update control set lastReplicationDate = :replicationDate where tableName = 'ACQUIREDACCOUNT__C']]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{"replicationDate":payload.replicationDate}]]]></snowflake:input-parameters>
		</snowflake:update>
		<ee:transform doc:name="Transform Message" doc:id="bb1384e0-1345-4fa8-aa2e-bf040d4a6397" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
